<!--Note:NgContainer,NgTemplate,NgTemplateOutlet is not an angular directive
It is just a style element-->

<!--todo:Change the repo name & proj name -->

<!-- ************** ng-template Directive ************* -->
<h2>ng-template</h2>
@if (title() === 'Angular-Directives') {
  <p>
    Angular is only rendering the template content when you, <br />
    whether directly or indirectly, specifically instruct it to do so, <br />
    this allowing you to have full control over how and when the content is displayed.
  </p>
  <p>
    Note:The <em>ng-template</em> content can also be rendered by
    <em>ng-template-outlet</em> instead of control flow statement condition.
  </p>
} @else {
  <div *ngTemplateOutlet="loading"></div>
}

<ng-template #loading>
  <!--  note: change the title() name to see this working .-->
  <mat-spinner />
  loading...
</ng-template>
<!--***********-->

<!--********** ng-container ***********-->
<h2>ng-container</h2>
<ng-container *ngIf="title() == 'Angular-Directives'">
  <p>Def: <em>ng-container</em> is a special element that can hold structural directives.</p>

  <p>
    The major reason we are using ng-container is It will not behave as a separate div or any
    element. So we don't have to bother about CSS style rendering issues.
  </p>

  <ol>
    <div *ngFor="let a of ary">
      <li>Array value inside the Div element is {{ a }}</li>
    </div>
  </ol>
</ng-container>
<!--***********-->

<!--******* ng-content ******-->
<h1>ng-content</h1>
<p>
  The ng-content is used for the content projection <br />
  The content projection can be categorised into 3 types
</p>
<ul>
  <li>Single-slot content projection</li>
  <li>Multi-slot content projection</li>
  <li>Conditional content projection (template outlet)</li>
</ul>

<p>The ng-content element specifies where to project content inside a component template.</p>

<br />

<div class="alert">
  <p>
    Note: The <code style="color: blue">&lt;ng-content&gt;</code> element is a placeholder that does
    not create a real DOM element. Custom attributes applied to the
    <code style="color: blue">&lt;ng-content&gt;</code> are ignored.
  </p>
</div>

<ol>
  <li>
    Use ng-content when you want to pass some markup (i.e., HTML tag) inside your child component
    from the parent
  </li>
  <li><b>Only works with a child component.</b> <em>So look at a child component 😁 </em></li>
  <li>use this when you want markup from the parent.</li>
</ol>

<h3>Single-slot content projection</h3>
<p>
  The most basic form of content projection is single-slot content projection. <br />
  Single-slot content projection refers to creating a component into which you can project one
  component.
</p>
<app-child>
  <div>
    <b>Title is {{ title() }}by {{ checkVal }} <- for single slot content projection.</b>
  </div>
</app-child>

<br />

<h3>Multi-slot content projection</h3>
<app-child>
  <p multiSlotContent>
    <b>Title is {{ title() }} by {{ checkVal }}LALALAA<- for multi slot content projection.</b>
  </p>
</app-child>

<p>
  If your component includes an ng-content element without a select attribute, that instance
  receives all projected components that do not match any of the other ng-content elements.
</p>

<button [routerLink]="['/child']" mat-raised-button type="button">
  Go to child<!--Need to fix this-->
</button>
<!--********-->

<!--*******ngTemplateOutlet*******-->
<div style="border: 3px solid blue">
  <h3>Conditional Content Projection (ngTemplateOutlet)</h3>
  <ol>
    <li>ngTemplateOutlet is a <b>structural directive</b>.</li>
    <li>Used to insert a template (created by ngTemplate) in various sections of our DOM.</li>
    <li>
      The template does not render itself. We must use a structural directive to render it. That is
      what <em>ngTemplateOutlet</em>
      does.
    </li>
    <li>
      This is the proper way to render an HTML in an angular template without using *ngFor directive
    </li>
  </ol>

  <ng-container *ngTemplateOutlet="loading" />

  <h2>ngTemplateOutlet with Context/Property Value</h2>
  <ol>
    <li>Property can be added by using <em>Semicolon(;)</em> and the <em>context:</em>Keyword.</li>
    <li>The let-(- is necessary) article is used to read property value</li>
  </ol>

  <h2>The Value received from the #loadingWithProperty template is</h2>
  <ng-container *ngTemplateOutlet="loadingWithProperty; context: { myArticle }" />

  <!--todo: check the https://www.tektutorialshub.com/angular/ngtemplateoutlet-in-angular to make the below code to work-->
  <ng-template #loadingWithProperty let-myArticle="myArticle">
    <ng-container *ngFor="let article of myArticle">
      article name: {{ myArticle[0].name }}
      <div>article name: {{ article.name }}</div>
    </ng-container>
    <hr />
  </ng-template>

  <ng-template #eng let-name>
    <div>
      <span>Hello {{ name }}!</span>
    </div>
  </ng-template>

  <!-- Here, the localSk is the key name svk myContext object.-->
  <ng-template #svk let-person="localSk">
    <div>
      <span>Hi. {{ person }}!</span>
    </div>
  </ng-template>

  <h2>The Value received from the #eng Template</h2>
  <ng-container *ngTemplateOutlet="eng; context: myContext" />
  <hr />

  <h2>The Value received from the #svg Template</h2>
  <ng-container *ngTemplateOutlet="svk; context: myContext" />
  <hr />
</div>

<!--********* Example for custom directive ************-->

<h2>Example for Attribute Directive</h2>
<p appCustomAttribute role="document">Example for custom attribute directive</p>

<h2>Example for Element Directive</h2>
<appCustomElement>Example for custom element directive</appCustomElement>
